<p id="notice"><%= notice %></p>

<!--
COMENTADO POIS POSSO PRECISAR FUTURAMENTE

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
-->

  <%= render 'longer_featured' %>

  <div class="row mb-2">   
    <%= render 'medium_featured' %>
    <%= render 'medium_featured' %>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From the Firehose
      </h3>

        <%= link_to 'New Article', new_article_path %>

        <%= render @articles %>

        <%= render 'pagination'%>
    </div>

        <%= render 'archives'%>
    
  </div>
