

<h2 class="blog-post-title"><%= @article.title %></h2>
        <p class="blog-post-meta">
        <%= render "article_detail", article: @article %>
        </p>

        <p><%= @article.body %></p>
          <tr>
            <td><%= link_to 'Edit', edit_article_path(@article), 
            class: "btn btn-primary" if policy(@article).update? %></td>

            <td><%= link_to 'Destroy', @article, 
            method: :delete, data: { confirm: 'Are you sure?' } , 
            class: "btn btn-danger" if policy(@article).destroy? %></td>

            <td><%= link_to 'Back', articles_path,class: "btn btn-secondary" %> </td>
          </tr>